body, html {
    height: 100%;
    background-size: cover;
  }
  
  .bg {
    /* The image used */
    background-image: url("https://scijinks.gov/review/clouds/cirrus.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#banner {
    padding: 2%;
    text-align: center;
    
}
#search {
    margin:auto;
    margin-bottom: 1%;
    text-align: center;
}
h1{
    font-size: 50px;
    color: aliceblue;
}

h2{
    font-size: 40px;
    margin:auto;
    text-align: center;
    color: aliceblue;
}
h3{
    font-size: 30px;
    vertical-align: top;
}
#contents {
    font-size:20px;
    width: 10%;
    color: aliceblue;
    display: inline-block;
    margin:auto;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}
.location{
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    margin: auto;
    
}
#clock{
    text-align: left;
    padding-top: 2%;
    margin-top: 2%;
    font-size: 25px;   
    color: aqua;
    font-size: 30px;
}
#wrap{
    height:66.67vh;
    width: 100%;
    background-size: cover;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
}